In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [60]:
data = pd.read_csv('Pima_Indian_diabetes.csv')

In [61]:
print(data.shape)
data.head()

(768, 9)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.0,33.600000,0.627,50.0,1
1,1.0,85.0,66.0,29.0,0.0,26.600000,0.351,31.0,0
2,8.0,183.0,64.0,0.0,0.0,23.300000,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94.0,19.179925,0.167,21.0,0
4,0.0,137.0,40.0,35.0,168.0,43.100000,2.288,33.0,1

In [62]:
s = 0 
for i in range(768):
    if((data.loc[i].to_numpy() < 0).sum() > 0):
#         print(i)
        s+=1
    
print("no.of rows with negative values " + str(s))

no.of rows with negative values 15

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in less
  This is separate from the ipykernel package so we can avoid doing imports until

In [63]:
columns = data.columns
for i in columns:
    data[i][data[i]<0] = np.nan

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [64]:
s = 0 
for i in range(768):
    if(np.isnan(data.loc[i].to_numpy()).sum() > 0):
#         print(i)
        s+=1
    
print("no.of rows with nan values " + str(s))

no.of rows with nan values 106

In [65]:
# for i in columns:
#     data[i] = data[i].fillna(np.mean(data[i]))
new_data = data.drop(columns = ["Outcome"])
new_data.interpolate(method="linear",inplace=True,limit_direction="forward")

new_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.917008,119.874356,69.174686,20.621672,79.799479,31.952356,0.471876,33.799842
std,3.419177,32.158453,18.908837,15.696384,115.244002,7.960001,0.331329,12.284246
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.375000,0.243750,24.000000
50%,3.000000,116.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,139.152110,80.000000,32.000000,127.250000,36.525000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [66]:
data.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.000000,72.000000,35.0,0.0,33.600000,0.627,50.000000,1
1,1.0,85.000000,66.000000,29.0,0.0,26.600000,0.351,31.000000,0
2,8.0,183.000000,64.000000,0.0,0.0,23.300000,0.672,32.000000,1
3,1.0,89.000000,66.000000,23.0,94.0,19.179925,0.167,21.000000,0
4,0.0,137.000000,40.000000,35.0,168.0,43.100000,2.288,33.000000,1
5,5.0,116.000000,74.000000,0.0,0.0,25.600000,0.201,30.000000,0
6,3.0,78.000000,43.869346,32.0,88.0,31.000000,0.248,26.000000,1
7,10.0,115.000000,0.000000,0.0,0.0,35.300000,0.134,29.000000,0
8,2.0,197.000000,70.000000,45.0,543.0,30.500000,0.158,NaN,1
9,8.0,125.000000,96.000000,NaN,0.0,0.000000,0.232,68.636341,1
10,4.0,110.000000,92.000000,0.0,0.0,37.600000,0.191,30.000000,0
11,10.0,168.000000,74.000000,0.0,0.0,38.000000,0.537,34.000000,1
12,10.0,139.000000,75.828903,0.0,0.0,27.100000,1.441,57.000000,0
13,1.0,189.000000,60.000000,23.0,846.0,30.100000,0.398,59.000000,1
14,5.0,146.526788,72.000000,19.0,175.0,25.800000,0.587,51.000000,1
15,7.0,100.000000,0.000000,0.0,0.0,30.000000,0.484,32.000000,1
16,0.0,118.000000,84.000000,47.0,230.0,45.800000,0.551,31.000000,1
17,7.0,107.000000,74.000000,0.0,0.0,29.600000,0.254,31.000000,1
18,NaN,103.000000,30.000000,38.0,83.0,43.300000,0.183,33.000000,0
19,1.0,115.000000,70.000000,30.0,96.0,34.600000,0.529,32.000000,1

In [67]:
data.loc[60,'BMI']

nan

By Standardizing

In [68]:
# from sklearn.preprocessing import StandardScaler

In [69]:
# feature_val = data.loc[:,columns[:-1]].values
# target_val = data.loc[:,'Outcome'].values

In [70]:
# feature_val = StandardScaler().fit_transform(feature_val)

In [71]:
# feature_val

In [72]:
# from sklearn.decomposition import PCA

Normalisation

In [73]:
for i in columns[:-1]:
    new_data[i] = (new_data[i]-new_data[i].min())/(new_data[i].max()-new_data[i].min())

In [74]:
new_data.to_csv("processed.csv",sep = ",",index = False)

In [75]:
new_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.285841,0.038002,0.000000
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000

In [76]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn.model_selection import cross_val_score
# from sklearn.metrics import accuracy_score

In [77]:
# lr = LogisticRegression()
# features = columns[:-1]
# scores = cross_val_score(lr, data[features], data['Outcome'], cv=10)

In [78]:
# np.mean(scores)

In [79]:
Covariance = new_data.cov() 
print(Covariance)
# Eigen decomposition
eigen_vals, eigen_vecs = np.linalg.eig(Covariance)

total = np.sum(eigen_vals)
print(eigen_vals*100/total)

# Project X onto PC space
X_pca = np.dot(new_data, eigen_vecs)

                          Pregnancies   Glucose  BloodPressure  SkinThickness  \
Pregnancies                  0.040452  0.002985       0.003394      -0.002495
Glucose                      0.002985  0.026115       0.003778       0.001553
BloodPressure                0.003394  0.003778       0.024022       0.004742
SkinThickness               -0.002495  0.001553       0.004742       0.025138
Insulin                     -0.002792  0.007159       0.001710       0.008846
BMI                         -0.000103  0.003682       0.005405       0.007029
DiabetesPedigreeFunction    -0.001121  0.002863       0.000836       0.004172
Age                          0.018392  0.007738       0.007391      -0.003822

                           Insulin       BMI  DiabetesPedigreeFunction  \
Pregnancies              -0.002792 -0.000103                 -0.001121
Glucose                   0.007159  0.003682                  0.002863
BloodPressure             0.001710  0.005405                  0.000836
SkinThickness             0.008846  0.007029                  0.004172
Insulin                   0.018556  0.003029                  0.003567
BMI                       0.003029  0.014073                  0.002466
DiabetesPedigreeFunction  0.003567  0.002466                  0.020014
Age                      -0.001164  0.000707                  0.001162

                               Age
Pregnancies               0.018392
Glucose                   0.007738
BloodPressure             0.007391
SkinThickness            -0.003822
Insulin                  -0.001164
BMI                       0.000707
DiabetesPedigreeFunction  0.001162
Age                       0.041917

In [81]:
datanew = pd.DataFrame(X_pca)
datanew.rename(columns={0: "P1", 1: "P2", 2: "P3", 3: "P4", 4: "P5", 5: "P6",6: "P7", 7: "P8"},inplace = True)
Covar = datanew.cov()
print(Covar)

              P1            P2            P3            P4            P5  \
P1  6.341243e-02  1.727938e-17 -5.011926e-18 -1.053047e-17 -4.052965e-18
P2  1.727938e-17  4.299448e-02  8.684926e-19  4.342463e-19  3.126573e-17
P3 -5.011926e-18  8.684926e-19  8.841200e-03 -7.454561e-18 -1.473723e-17
P4 -1.053047e-17  4.342463e-19 -7.454561e-18  1.144165e-02 -6.767005e-18
P5 -4.052965e-18  3.126573e-17 -1.473723e-17 -6.767005e-18  2.548710e-02
P6  1.708035e-17 -5.789951e-19 -2.894975e-19  1.299120e-17  1.472819e-17
P7  7.382187e-18  1.547002e-17 -1.664611e-18 -1.899828e-18  7.780246e-19
P8 -9.951478e-20 -7.092689e-18  2.189325e-18 -1.447488e-19 -5.645202e-18

              P6            P7            P8
P1  1.708035e-17  7.382187e-18 -9.951478e-20
P2 -5.789951e-19  1.547002e-17 -7.092689e-18
P3 -2.894975e-19 -1.664611e-18  2.189325e-18
P4  1.299120e-17 -1.899828e-18 -1.447488e-19
P5  1.472819e-17  7.780246e-19 -5.645202e-18
P6  2.275509e-02 -3.256847e-18 -1.226746e-17
P7 -3.256847e-18  1.610808e-02 -1.863640e-18
P8 -1.226746e-17 -1.863640e-18  1.924825e-02

[30.15499972 20.44549721  4.20432373  5.44093381 12.12007799 10.82090202
  7.65999932  9.15326619]