In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('Pima_Indian_diabetes.csv')

In [5]:
print(data.shape)
data.head()

(768, 9)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.0,33.600000,0.627,50.0,1
1,1.0,85.0,66.0,29.0,0.0,26.600000,0.351,31.0,0
2,8.0,183.0,64.0,0.0,0.0,23.300000,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94.0,19.179925,0.167,21.0,0
4,0.0,137.0,40.0,35.0,168.0,43.100000,2.288,33.0,1

In [6]:
columns = data.columns
for i in columns:
    data[i] = data[i].fillna(np.mean(data[i]))

In [7]:
data.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.000000,148.000000,72.000000,35.000000,0.0,33.600000,0.627,50.000000,1
1,1.000000,85.000000,66.000000,29.000000,0.0,26.600000,0.351,31.000000,0
2,8.000000,183.000000,64.000000,0.000000,0.0,23.300000,0.672,32.000000,1
3,1.000000,89.000000,66.000000,23.000000,94.0,19.179925,0.167,21.000000,0
4,0.000000,137.000000,40.000000,35.000000,168.0,43.100000,2.288,33.000000,1
5,5.000000,116.000000,74.000000,0.000000,0.0,25.600000,0.201,30.000000,0
6,3.000000,78.000000,43.869346,32.000000,88.0,31.000000,0.248,26.000000,1
7,10.000000,115.000000,0.000000,0.000000,0.0,35.300000,0.134,29.000000,0
8,2.000000,197.000000,70.000000,45.000000,543.0,30.500000,0.158,33.761336,1
9,8.000000,125.000000,96.000000,20.309879,0.0,0.000000,0.232,68.636341,1
10,4.000000,110.000000,92.000000,0.000000,0.0,37.600000,0.191,30.000000,0
11,10.000000,168.000000,74.000000,0.000000,0.0,38.000000,0.537,34.000000,1
12,10.000000,139.000000,75.828903,0.000000,0.0,27.100000,1.441,57.000000,0
13,1.000000,189.000000,60.000000,23.000000,846.0,30.100000,0.398,59.000000,1
14,5.000000,146.526788,72.000000,19.000000,175.0,25.800000,0.587,51.000000,1
15,7.000000,100.000000,0.000000,0.000000,0.0,30.000000,0.484,32.000000,1
16,0.000000,118.000000,84.000000,47.000000,230.0,45.800000,0.551,31.000000,1
17,7.000000,107.000000,74.000000,0.000000,0.0,29.600000,0.254,31.000000,1
18,3.866601,103.000000,30.000000,38.000000,83.0,43.300000,0.183,33.000000,0
19,1.000000,115.000000,70.000000,30.000000,96.0,34.600000,0.529,32.000000,1

By Standardizing

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
feature_val = data.loc[:,columns[:-1]].values
target_val = data.loc[:,'Outcome'].values

In [10]:
feature_val = StandardScaler().fit_transform(feature_val)

In [11]:
feature_val

array([[ 0.62411987,  0.87585642,  0.16038911, ...,  0.22280018,
         0.46849198,  1.33803201],
       [-0.83861601, -1.0924373 , -0.14865354, ..., -0.60288861,
        -0.36506078, -0.22752832],
       [ 1.20921422,  1.96935293, -0.25166776, ..., -0.9921419 ,
         0.60439732, -0.14513041],
       ...,
       [ 0.33157269,  0.03230197,  0.16038911, ..., -0.65007083,
        -0.68519336, -0.30992623],
       [-0.83861601,  0.18851575, -0.45769619, ..., -0.19004421,
        -0.37110101,  1.09083828],
       [-0.83861601, -0.84249524,  0.05737489, ..., -0.15465755,
        -0.47378505, -0.88671162]])